.character {
  background: #0E0E0E;
  width: 100%;
  height: 100%;

  color: rgba(255, 255, 255, .9);
  font-size: 14px;

  &-head {
    overflow: hidden;

    >div {
      margin-top: 20px;
    }

    >div:nth-child(1) {
      float: left;
      margin-left: 100px;
      overflow: hidden;

      >div {
        float: left;
        margin-right: 20px;

      }
    }

    >div:nth-child(2) {
      float: right;
      margin-right: 40px;
    }
  }

  .topscore-head-main-btn {
    background: #232429;
    padding: 10px 16px;
    font-weight: 600;
    border-radius: 4px;
    font-family: 'Jura';
    cursor: pointer;
  }

  .character-head-wallet-btn {
    background: rgba(255, 51, 0, 0.30);
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Jura';
  }

  .character-content-scroll {
    height: calc(100vh - 80px);
    width: 100%;
    overflow: auto;
    margin-bottom: 100px;
    background: #0E0E0E;
  }

  .character-content {
    height: 100%;
    width: 1000px;
    position: relative;
    margin: 0 auto;
    padding-top: 60px;

    p {
      font-family: "Jura";
      font-size: 16px;
      color: rgba(255, 255, 255, .9);
      margin-bottom: 6px;

      span {
        color: green;
      }
    }

    >div {
      float: left;
    }

    .character-content-left {
      width: 55%;

      >div {
        margin-bottom: 60px;
      }

      .title {
        font-size: 20px;
        font-family: "Eur";
        color: rgba(255, 51, 0, 1);
        margin-bottom: 20px;
      }
    }

    .character-content-right {
      width: 45%;
      position: relative;

      >div {
        float: left;
        width: 40%;
        margin-right: 20px;
        margin-bottom: 20px;
        height: 228px;

        >img {
          height: 100%;
          width: 100%;
        }
      }

      .right-des {
        position: absolute;
        right: -20px;
        bottom: 20px;
        width: -moz-fit-content;
        width: fit-content;
        height: -moz-fit-content;
        height: fit-content;
        margin: 0;
      }
    }
  }
}