.toscore {
  background: url("./../../static/img/bg.gif") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;

  color: rgba(255, 255, 255, .9);
  font-size: 14px;

  &-head {
    overflow: hidden;

    >div {
      margin: 20px 0 0px 0;
    }

    >div:nth-child(1) {
      float: left;
      margin-left: 100px;
      overflow: hidden;

      >div {
        float: left;
        margin-right: 20px;

      }
    }
  }

  .toscore-content {
    height: calc(100vh - 125px);
    width: auto;
    overflow-y: auto;
  }

  .toscore-main {
    width: 1000px;
    margin: 0 auto;



    >div:nth-child(1) {
      overflow: hidden;
      margin-top: 200px;

      >div:nth-child(1) {
        float: left;
      }

      >div:nth-child(2) {
        float: right;
      }
    }

    .toscore-main-base-info {
      overflow: hidden;

      >div, img {
        float: left;
      }

      >div:nth-child(1) {
        font-size: 16px;
        font-weight: 600;
        overflow: hidden;

      }

      >div:nth-child(2) {
        color: rgba(255, 255, 255, .5);
      }
    }

    .top-rador {
      height: 500px;
      width: 100%;
      position: relative;
      margin-bottom: 200px;

      .generate {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 300px;
        width: 300px;
        z-index: 100;
        cursor: pointer;
      }

      >div:nth-child(1) {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 99;
      }

      .top-rador-info {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 9;

        .rador-info {
          overflow: hidden;
          margin-top: 190px;

          >div:nth-child(1) {
            margin-left: 65px;
            margin-right: 315px;
          }

          >div {
            float: left;
            overflow: hidden;

            >div:nth-child(1) {
              >div {
                border-right: 1px solid rgba(255, 255, 255, .5);
              }

            }

            >div {
              float: left;
              width: 140px;

              >div {

                margin-bottom: 30px;

                >p {
                  text-align: center;
                }

                >p:nth-child(1) {
                  font-size: 20px;
                  font-family: "Jura";
                  font-weight: normal;
                  color: rgba(255, 255, 255, .9);
                }

                >p:nth-child(2) {
                  font-size: 14px;
                  color: rgba(255, 255, 255, .6);
                  font-family: 'Jura';
                }
              }

              .diff-sty-info {
                margin-top: -15px;

                >p {
                  >span {
                    text-align: center;
                    font-size: 16px;
                    font-family: "Jura";
                    font-weight: normal;
                    color: rgba(255, 255, 255, .9);
                  }

                  >span:nth-child(1) {
                    margin-right: 10px;
                  }

                  >span:nth-child(2) {
                    font-size: 12px;
                    margin-right: 10px;
                    color: rgba(255, 255, 255, .6);
                  }
                }
              }
            }
          }
        }

      }
    }

    .btn-group-1 {
      overflow: hidden;
      margin: 0px 0 20px 0;

      >div {
        overflow: hidden;
        float: right;

        >div {
          float: left;
        }

        >div:nth-child(1) {
          margin-right: 10px;
        }
      }

    }

    .btn-group-2 {
      overflow: hidden;
      margin: 0px 0 20px 0;

      >div {
        overflow: hidden;
        float: left;

        >div {
          float: left;
        }

        >div:nth-child(1) {
          margin-right: 10px;
        }
      }

    }

    .influence_curation {
      display: flex;
      font-family: "Exan";
      margin-bottom: 300px;

      .influence-default-text {
        font-size: 20px;
        margin-top: 20px;

        >p:nth-child(1) {
          margin-bottom: 10px;
        }

        >p:nth-child(2) {
          text-indent: 200px;
        }
      }

      .curation-default-text {
        font-size: 20px;
        margin-top: 20px;

        >p {
          margin-bottom: 10px;
        }

        >p:nth-child(2) {
          text-indent: 420px;
        }

        >p:nth-child(3) {
          text-indent: 520px;
        }

        >p:nth-child(4) {
          text-indent: 620px;
        }
      }

      .left-rador {
        flex: 2;
        height: 310px;
      }

      .right-text {
        flex: 3;
        padding-left: 40px;

        p {
          font-size: 20px;
          font-family: "Exan";
          font-weight: 500;
          color: rgba(255, 255, 255, .8);
          margin-bottom: 20px;

          span {
            background: rgba(255, 51, 0, 1);
          }
        }
      }
    }

    .collect_pablication {
      display: flex;
      font-family: "Exan";

      .collect-default-text {
        font-size: 20px;
        width: 100%;
        margin-top: 20px;

        >div {
          width: calc(50% - 10px);
          float: left;

          >p {
            margin-bottom: 10px;
          }
        }

        >div:nth-child(1) {
          margin-right: 20px;

          >p {
            text-align: right;
          }
        }

        >div:nth-child(2) {
          >p {
            text-align: left;
          }
        }
      }

      .publication-default-text {
        font-size: 20px;
        margin-top: 20px;

        >p {
          margin-bottom: 10px;
        }

        >p:nth-child(2) {
          text-indent: 400px;
        }

        >p:nth-child(3) {
          text-indent: 600px;
        }

        >p:nth-child(4) {
          text-indent: 600px;
        }
      }

      .left-text {
        flex: 3;

        p {
          font-size: 20px;
          font-family: "Exan";
          font-weight: 500;
          color: rgba(255, 255, 255, .8);
          margin-bottom: 20px;

          span {
            padding: 1px 3px;
            background: rgba(255, 51, 0, 1);
          }
        }
      }

      .right-rador {
        flex: 2.3;
        height: 328px;
      }
    }

    .space {
      color: rgba(255, 255, 255, .9);

      font-size: 20px;
      font-family: 'Jura';
      font-weight: normal;
      color: #FFFFFF;
    }

    .net-head-img {
      background-color: rgba(255, 51, 0, 1);
      height: 50px;
      text-align: center;
      line-height: 50px;
      width: 50px;
      margin-right: 10px;
    }
  }

  .topscore-head-main-btn {
    background: #232429;
    padding: 10px 16px;
    font-weight: 600;
    border-radius: 4px;
    font-family: 'Jura';
    cursor: pointer;
  }

  .btnTb {
    background: #232429;
    padding: 10px 16px;
    font-weight: 600;
    border-radius: 4px;
    font-family: 'Jura';
    color: rgba(255, 255, 255, .4);
    cursor: pointer;
  }

  .activeBtnGroup {
    background: #232429;
    color: #fff;
  }

}

.drop-menu {
  cursor: pointer;
  width: 100%;
  padding: 4px 10px;

}

.rank-list {
  height: 500px;
  width: 400px;
  background: #262626;
  position: absolute;
  right: -70px;
  z-index: 100;
}

.leftOut {
  width: 40px;
  height: 100px;
  background: #262626 !important;
  line-height: 100px;
  text-align: center;
  /* cursor: pointer; */
  font-size: 24px;
  cursor: pointer;
  right: 5px;
  position: absolute;
  top: 336px;
}

.rightOut {
  position: absolute;
  left: -24px;
  width: 40px;
  height: 100px;
  background: #262626 !important;
  line-height: 100px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  top: 235px;
  color: #fff;
}

.drawer {
  color: rgba(255, 255, 255, .8);
  height: 100%;
  width: 100%;
}

.list-type {
  font-family: "Jura";
}

.space {
  color: rgba(255, 255, 255, .8);
  font-size: 20px;
}

.overall {
  margin-bottom: 20px;
}

.rank-item {
  height: 60px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  line-height: 60px;
  padding: 0 10px;
  margin-bottom: 20px;

  >span:nth-child(1) {
    font-family: "Exan";
  }

  .avatar,
  >span:nth-child(2) {
    background-color: rgb(255, 51, 0);
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    vertical-align: middle;
    line-height: 30px;
    text-align: center;
    margin: 0 10px 0 20px;
  }

  >span:nth-child(3) {
    margin-right: 10px;
    font-family: "Jura";
  }

  >span:nth-child(4) {
    img {
      vertical-align: middle;
      height: 40px;
    }
  }

  >span:nth-child(5) {
    float: right;
    font-family: "Jura";
  }
}

.pagination {
  margin: 0 auto;
  width: fit-content;
}

.claim-img {
  background: #000;
  width: 100%;
  // height: 400px;
}

.empty-hint{
  float: none !important;
  text-align: center;
  font-size: 24px;
  display: block;
  margin: 0 auto 64px;
}

.claim-bottom {
  overflow: hidden;
  width: fit-content;
  margin: 20px auto 0 auto;
  >div:nth-child(1) {
    float: left;
    background: rgba(255, 51, 0, 0.3);
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Exan';
    color: rgba(255, 255, 255, .8);
  }

  // >div:nth-child(2) {
  //   float: right;
  //   overflow: hidden;

  //   >div {
  //     float: left;
  //     height: 40px;
  //     width: 40px;
  //     border-radius: 50%;
  //     background: rgba(255, 255, 255, 0.1);
  //     line-height: 40px;
  //     text-align: center;
  //     cursor: pointer;
  //   }

  //   .twitter-icon {
  //     color: rgb(40, 168, 223);
  //     font-size: 24px;
  //     line-height: 46px;
  //   }

  //   >div:nth-child(1) {
  //     font-size: 20px;
  //     margin-right: 10px;
  //   }
  // }
}

.charcter-main{
  margin-bottom: 400px;
}

.downLoadBtn{
  position: absolute;
  right: 120px;
  top: 20px;
  background: #232429 !important;
}

.download-modal-btn{
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  font-family: "Jura";
  background: #232429 !important;
  color: rgba(255, 255, 255, .8);
  width:fit-content;
  float: left;
}