.rsrv {
  background: rgba(14, 14, 14, 1);
  width: 100%;
  height: 100%;

  color: rgba(255, 255, 255, .9);
  font-size: 14px;

  &-head {
    overflow: hidden;

    >div {
      margin: 20px 0 60px 0;
    }

    >div:nth-child(1) {
      float: left;
      margin-left: 100px;
      overflow: hidden;

      >div {
        float: left;
        margin-right: 20px;

      }
    }

    >div:nth-child(2) {
      float: right;
      margin-right: 40px;
    }
  }

  .rsrv-content {
    height: calc(100vh - 230px);
    width: auto;
    overflow-y: auto;
  }

  .rsrv-main {
    width: 1000px;
    margin: 0 auto;



    >div:nth-child(1) {
      overflow: hidden;

      >div:nth-child(1) {
        float: left;
      }

      >div:nth-child(2) {
        float: right;
      }
    }

    .rsrv-main-base-info {
      overflow: hidden;

      >div {
        float: left;
      }

      >div:nth-child(1) {
        font-size: 16px;
        font-weight: 600;
        overflow: hidden;

      }

      >div:nth-child(2) {
        color: rgba(255, 255, 255, .5);
      }
    }

    .top-rador {
      height: 440px;
      width: 100%;
      position: relative;

      >div:nth-child(1) {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 99;
      }

      .top-rador-info {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 9;

        .rador-info {
          overflow: hidden;
          margin-top: 166px;

          >div:nth-child(1) {
            margin-left: 55px;
            margin-right: 336px;
          }

          >div {
            float: left;
            overflow: hidden;

            >div:nth-child(1) {
              >div {
                border-right: 1px solid rgba(255, 255, 255, .5);
              }

            }

            >div {
              float: left;
              width: 140px;

              >div {

                margin-bottom: 30px;

                >p {
                  text-align: center;
                }

                >p:nth-child(1) {
                  font-size: 20px;
                  font-family: "Jura";
                  font-weight: normal;
                  color: rgba(255, 255, 255, .8);
                }

                >p:nth-child(2) {
                  font-size: 12px;
                  color: rgba(255, 255, 255, .4);
                }
              }

              .diff-sty-info {
                margin-top: -15px;

                >p {
                  >span {
                    font-size: 12px;
                  }

                  >span:nth-child(1) {
                    font-size: 12px;
                    color: rgba(255, 255, 255, .4);
                    margin-right: 10px;
                  }

                  >span:nth-child(2) {
                    font-size: 12px;
                    color: rgba(255, 255, 255, .8);
                  }
                }
              }
            }
          }
        }

      }
    }

    .space {
      color: rgba(255, 255, 255, .9);

      font-size: 20px;
      font-family: Jura-Light_Bold, Jura;
      font-weight: normal;
      color: #FFFFFF;
    }

    .net-head-img {
      background-color: rgba(255, 51, 0, 1);
      height: 50px;
      text-align: center;
      line-height: 50px;
      width: 50px;
      margin-right: 10px;
    }
  }

  .topscore-head-main-btn {
    background: #232429;
    padding: 10px 16px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
  }

  .topscore-head-wallet-btn {
    background: rgba(255, 51, 0, 0.30);
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Jura';
  }
}

.drop-menu {
  cursor: pointer;
  width: 100%;
  padding: 4px 10px;

}

.rank-list {
  height: 500px;
  width: 400px;
  background: #262626;
  position: absolute;
  right: -70px;
  z-index: 100;
}

.leftOut {
  width: 40px;
  height: 100px;
  background: #262626 !important;
  line-height: 100px;
  text-align: center;
  /* cursor: pointer; */
  font-size: 24px;
  cursor: pointer;
  right: 5px;
  position: absolute;
  top: 336px;
}

.rightOut {
  position: absolute;
  left: -24px;
  width: 40px;
  height: 100px;
  background: #262626 !important;
  line-height: 100px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  top: 235px;
  color: #fff;
}

.drawer {
  color: rgba(255, 255, 255, .8);
  height: 100%;
  width: 100%;
}

.list-type {
  font-family: "Jura";
  margin-bottom: 20px;
}

.space {
  color: rgba(255, 255, 255, .8);
  font-size: 20px;
}

.rank-item {
  height: 60px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  line-height: 60px;
  padding: 0 10px;
  margin-bottom: 20px;

  >span:nth-child(1) {
    font-family: "Exan";
  }

  >span:nth-child(2) {
    background-color: rgb(255, 51, 0);
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
    text-align: center;
    margin: 0 10px 0 20px;
  }

  >span:nth-child(3) {
    margin-right: 10px;
    font-family: "Jura";
  }

  >span:nth-child(4) {
    img {
      vertical-align: middle;
    }
  }

  >span:nth-child(5) {
    float: right;
    font-family: "Jura";
  }
}

.pagination {
  margin: 0 auto;
  width: fit-content;
}

.des-1 {
  font-family: "Eur";
  font-size: 100px;
  font-weight: 600;
  margin-left: 100px;
}

.des-2 {
  font-family: "Eur";
  font-size: 100px;
  font-weight: 600;
  position: absolute;
  left: 40px;
  top: 300px;
  transform: rotate(270deg);
}

.des-3 {
  font-family: "Eur";
  font-size: 100px;
  font-weight: 600;
  position: absolute;
  right: 40px;
  top: 440px;
  transform: rotate(90deg);
}

.des-4 {
  font-family: "Eur";
  font-size: 100px;
  font-weight: 600;
  color: #fff;
  text-align: right;
  margin-right: 160px;
  margin-top: 20px;
}

.des-bottom {
  width: 100%;
  display: flex;
  margin-top: 40px;
  font-family: "Exan";

  >div {
    flex: 1;
    text-indent: 50px;
  }
}