.rsrv-content{
  height: 100%;
  width: 100%;
}
.rsrv {
  background: url("./../../static/img/bg.gif") no-repeat center bottom;
  background-size: cover;
  width: 100%;
  height: 100%;

  color: rgba(255, 255, 255, .9);
  font-size: 14px;

  &-head {
    overflow: hidden;

    >div {
      margin-right: 40px;
      margin-top: 20px;
    }
  }

  .rsrv-content {
    height: calc(100vh - 200px);
    width: auto;
  }

  .rsrv-main {
    width: 1000px;
    margin: 0 auto;
    height: calc(100% - 200px);


    >div:nth-child(1) {
      overflow: hidden;

      >div:nth-child(1) {
        float: left;
      }

      >div:nth-child(2) {
        float: right;
      }
    }

    .rsrv-main-base-info {
      overflow: hidden;

      >div {
        float: left;
      }

      >div:nth-child(1) {
        font-size: 16px;
        font-weight: 600;
        overflow: hidden;

      }

      >div:nth-child(2) {
        color: rgba(255, 255, 255, .5);
      }
    }

    .top-rador {
      height: 100%;
      width: 100%;
      position: relative;

      >div:nth-child(1) {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 99;
      }

      .appint-gif-1 {
        height: 300px;
        width: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;

        img {
          cursor: pointer;
        }
      }

      .top-rador-info {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 9;

        .rador-info {
          overflow: hidden;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(0, -50%);

          >div:nth-child(1) {
            margin-left: 55px;
            margin-right: 336px;
          }

          >div {
            float: left;
            overflow: hidden;

            >div:nth-child(1) {
              >div {
                border-right: 1px solid rgba(255, 255, 255, .5);
              }

            }

            >div {
              float: left;
              width: 140px;

              >div:nth-child(1) {
                margin-bottom: 30px;
              }

              >div {

                margin-bottom: 0px;

                >p {
                  text-align: center;
                  font-size: 16px;
                  font-family: "Jura";
                  font-weight: normal;
                  color: rgba(255, 255, 255, .8);
                }

                // >p:nth-child(1) {
                //   font-size: 20px;
                //   font-family: "Jura";
                //   font-weight: normal;
                //   color: rgba(255, 255, 255, .8);
                // }

                // >p:nth-child(2) {
                //   font-size: 12px;
                //   color: rgba(255, 255, 255, .4);
                //   font-family: 'Jura';
                // }
              }

              .diff-sty-info {
                margin-top: -15px;

                >p {
                  >span {
                    font-size: 12px;
                  }

                  >span:nth-child(1) {
                    font-size: 12px;
                    color: rgba(255, 255, 255, .4);
                    margin-right: 10px;
                  }

                  >span:nth-child(2) {
                    font-size: 12px;
                    color: rgba(255, 255, 255, .8);
                  }
                }
              }
            }
          }
        }

      }
    }

    .space {
      color: rgba(255, 255, 255, .9);

      font-size: 20px;
      font-family: Jura-Light_Bold, Jura;
      font-weight: normal;
      color: #FFFFFF;
    }

    .net-head-img {
      background-color: rgba(255, 51, 0, 1);
      height: 50px;
      text-align: center;
      line-height: 50px;
      width: 50px;
      margin-right: 10px;
    }
  }

  .rsrv-head-wallet-btn {
    background: rgba(255, 51, 0, 0.30);
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Jura';
    float: right;
  }

  .drop-menu {
    cursor: pointer;
    width: 100%;
    padding: 4px 10px;
  }

  .rank-list {
    height: 500px;
    width: 400px;
    background: #262626;
    position: absolute;
    right: -70px;
    z-index: 100;
  }

  .leftOut {
    width: 40px;
    height: 100px;
    background: #262626 !important;
    line-height: 100px;
    text-align: center;
    /* cursor: pointer; */
    font-size: 24px;
    cursor: pointer;
    right: 0px;
    position: absolute;
    top: 336px;
  }

  .rightOut {
    position: absolute;
    left: -24px;
    width: 40px;
    height: 100px;
    background: #262626 !important;
    line-height: 100px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    top: 235px;
    color: #fff;
  }

  .drawer {
    color: rgba(255, 255, 255, .8);
    height: 100%;
    width: 100%;
  }

  .list-type {
    font-family: "Jura";
    margin-bottom: 20px;
  }

  .space {
    color: rgba(255, 255, 255, .8);
    font-size: 20px;
  }

  .overall {
    margin-bottom: 20px;
  }

  .rank-item {
    height: 60px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    line-height: 60px;
    padding: 0 10px;
    margin-bottom: 20px;

    >span:nth-child(1) {
      font-family: "Exan";
    }

    >span:nth-child(2) {
      background-color: rgb(255, 51, 0);
      display: inline-block;
      width: 30px;
      height: 30px;
      vertical-align: middle;
      line-height: 30px;
      text-align: center;
      margin: 0 10px 0 20px;
    }

    >span:nth-child(3) {
      margin-right: 10px;
      font-family: "Jura";
    }

    >span:nth-child(4) {
      img {
        vertical-align: middle;
      }
    }

    >span:nth-child(5) {
      float: right;
      font-family: "Jura";
    }
  }

  .pagination {
    margin: 0 auto;
    width: fit-content;
  }

  .des-1 {
    margin-left: 100px;
    margin-top: 20px;
    width: 800px;
  }

  .des-2 {
    position: absolute;
    left: 84px;
    top: 166px;
    img{
      height: 300px;
    }
  }

  .des-3 {
    position: absolute;
    right: 50px;
    top: 30%;
    >img{
      height: 400px;
    }
  }

  .des-4 {
    text-align: right;
    margin-right: 60px;
    margin-top: 72px;
    margin-bottom: 20px;
    img{
      width: 800px;
    }
  }

  .des-bottom {
    width: 100%;
    overflow: hidden;
    text-indent: 100px;

    >div {
      float: left;
      margin-right: 100px;
    }

    >div:nth-child(1) {
      text-indent: 100px;

      img {
        height: 60px;
        image-rendering: -webkit-optimize-contrast;
      }
    }

    >div:nth-child(2) {
      img {
        height: 40px;
        image-rendering: -webkit-optimize-contrast;
      }
    }
  }
}

.modal-bg {
  top: 200px !important;
  height: 400px !important;
  .ant-modal-content {
    background: url("./../../static/img/draw-bg.png") no-repeat center center;
    background-size: contain;
    width: 100%;
    color: #FFFFFF;
    height: 500px;
    width: 700px;
    image-rendering: -webkit-optimize-contrast;
  }

  .ant-modal-close-x {
    background: rgba(255, 51, 0, 0.3);
    font-size: 26px;
    color: rgba(255, 255, 255, .8);
    height: 28px;
    width: 28px;
    line-height: 28px;
  }

  .ant-modal-close {
    right: 80px;
    top: 60px;
  }

  .notify-btn {
    background: rgba(255, 51, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
    bottom: 39px;
    right: 78px;
    position: absolute;
    padding: 4px 10px;
    cursor: pointer;
    font-family: 'Jura';
  }
}

@media screen and (max-width:800px) {
  .rsrv {
    display: none;
  }
  .mobile-rsrv{
    display: block;
    background: #000;
    height: 100%;
    width: 100%;
    padding: 20px;
    .img-top{
      width: 80%;
      image-rendering: -webkit-optimize-contrast;
    }
    .text1,.text2,.text3{
      color: rgba(255, 255, 255, .5);
      font-family: "Exan";
      font-size: 20px;
    }
    .text1{
      margin-top: 10vh;
    }
    .text2{
      float: right;
    }
    .text3{
      overflow: hidden;
      >div:nth-child(1){
        float: left;
      }
      >div:nth-child(2){
        float: right;
      }
    }
    .img-bottom{
      position: absolute;
      bottom: 20px;
    }
  }
}

@media screen and (min-width:800px) {
  .rsrv {
    display: block;
  }
  .mobile-rsrv{
    display: none;
  }
}